<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Top Performers</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='top_performer_view_styles.css') }}">
</head>
<body>
    <header>
        <h1>Top Performers</h1>
        <a href="/student/dashboard" class="back-button">&lt; Back 👋</a>
    </header>
    <div class="card-container">
        <!-- Loop through performers and display their data -->
        {% for performer in performers %}
            <div class="card">
                <img class="profile-picture" src="{{ url_for('static', filename='images/top_performers_pictures/' + performer.student_profile_pic_path) }}" alt="Profile Picture">
                <h2>{{ performer.student_name }}</h2>
                <p>ID: {{ performer.student_id }}</p>
                <p>Placements Cracked: {{ performer.placements_cracked }}</p>
                <p>Department: {{ performer.dept_name }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>
